.bg{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
button{
    margin-right:50px;
    background-image:linear-gradient(rgb(238, 53, 229),rgb(78, 231, 64));
    padding:10px;
    margin:5px;
    padding-left:15px;
    padding-right:15px;
    border-radius:15px;
}
.ull{
    margin-right: 50px;
    list-style-type: none;
    color:rgb(188, 89, 253);
    background-image: linear-gradient(rgb(105, 250, 243),rgb(247, 129, 221));
    width:200px;
    padding:20px;
    border-radius:15px;
}
.bgg{
    background-image:url("https://t4.ftcdn.net/jpg/06/51/44/67/360_F_651446718_ZIHGEFxdN1ZSP2hVmtembHIpShrOUo3e.jpg");
    font-size:25px;
    font-style:italic;
    font-weight:500;
    color:red;
    height:100vh;
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
